h1, h2{
	padding-top: 15px;
	font-family: helvetica;
	text-decoration: underline;

}
h3.home_newsflash, .home_about {
	padding-top: 15px;

}

p.home_appeal {
	padding-top: 20px;

}

p.news_text {
	width: 480px;

}

.text {
	font-family: helvetica;
	font-size: 16px;

}