/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

html {
	/* Background */
	background-image: linear-gradient(to top, #717CC4 0%, #003399 30%);
	background-image: linear-gradient(to bottom, #717CC4 0%, #003399 70%);

}


/* HEAD -------------------------------------------*/
header {
	/* Background */
	background-image: url(img/header.jpg);
	background-size: cover;

	/* Alignment */
	text-align: center;
	position: relative;
	top: 0; 
	right: 0; 
	left: 0;
	box-sizing: border-box;
	max-width: 3000px;
	min-width: 980px;
	min-height: 257px;
	max-height: 500px;
	object-fit: contain;

	/* Font */
	font-family: helvetica;
	font-size: 30px;
	font-weight: bold;
	font-color: #1762F2;

	/* Border */
	border-bottom: 2px solid black;


}
/*-------------------------------------------------*/


/* HEADERS ----------------------------------------*/
h1 {
	color: #1762F2;
	font-style: italic;

}

h2 {
	/* Font */
	text-align: center;

}
/*-------------------------------------------------*/


/* BODY -------------------------------------------*/
body {

}
/*-------------------------------------------------*/


/* MENU -------------------------------------------*/
ul {
	/* Background */
	background-color: white;

	/* Alignment */
	margin-top: inherit;
	padding: 0;
	width: 200px;
	height: auto;
	float: left;
	position: absolute;

	/* Border */
	border-bottom: 2px solid black;

	/* List */
	list-style-type: none;
}


li a {
	/* Style */
	display: block;
	color: #000;
	padding: 8px 0 8px 16px;
	text-decoration: none;
	font-weight: bold;
}

ul .markiert {
	/* Style */
	background-color: #555;
	font-weight: bold;
	color: #00FFFF; 

}

li a:hover {
	/* Style */
	font-weight: bold;
	background-color: #555;
	color: #00FFFF;

}


/*-------------------------------------------------*/


/* CONTENT ----------------------------------------*/
div.indexContent {
	/* Background */
	background-color: white;

	/* Alignment */
	margin-left: 200px;
	margin-right: 200px;
	padding-right: 40px;
	padding-left: 40px;

	width: auto;
	min-width: 500px;
	height: 1200px;

	/* Border */
	border-right: 2px solid black;
	border-left: 2px solid black;

}


iframe.contentDisplay {

	/* Alignment */
	width: 100%;
	min-height: 100%;
	overflow: hidden;
	padding-bottom: auto;

	/* Border */
	border: 0;


}
/*-------------------------------------------------*/


/* FOOTER -----------------------------------------*/
footer {
	/* Background */
	background-color: #555;

	/* Alignment */
	position: inherit;
	text-align: center;
	left: 0;
	right: 0;

	height: 1.8em;
	margin-bottom: 0;

	/* Font */
	font-size: 20px;

	/* Border */
	border-top: 2px solid black;

}

p.footer {
	margin-top: 5px;
}
/*-------------------------------------------------*/

